body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    margin: 0;
}
.aside {
    grid-area: aside;
}
.main-titles {
    grid-area: main-titles;
}
.main-cards {
    grid-area: main-cards;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10% 100%;
    grid-template-areas: 
    "aside main-titles"
    "aside main-cards"
}
.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.aside {
    background-color: black;
    color: white;
    height: 120%;
}
.aside-image {
    height: 10%;
    margin: 7% 2% 2% 4%;
    border: 10px whitesmoke solid;;
}
.aside-title {
    margin: 4% 2% 4% 2%;
}
.aside-text {
    font-size: large;
    margin: 2% 2% 2% 2%;
    color:rgb(181, 181, 181);
}
.learn-more {
    font-size: medium;
    color:rgb(98, 98, 98);
    font-weight: bold;
    letter-spacing: 5px;
    margin: 5% 0 0 2%;
}
.main-titles {
    padding: 1% 1% 1% 1%;
}
.main-title {
    font-size: 230%;
    margin: 0 0 0 1%;
}
.secondary-title {
    font-size: 120%;
    margin: 1% 0 0 1%;
    color:rgb(98, 98, 98);
    border-bottom: 2px solid rgb(193, 193, 193);
    padding-bottom: 3%;
}
.main-cards {
    margin: 7% 0 0 2%;
}
.cards-images {
    border: 1px solid gray;
    padding: 1% 1% 1% 1%;
}
.card-text {
    font-weight: bold;
}